.wea-detail { background-color: white; margin-bottom: 10px; position: relative; zoom: 1; -webkit-border-radius: 0 0 2px 2px; -moz-border-radius: 0 0 2px 2px; border-radius: 0 0 2px 2px; }
.wea-detail .angle-lb, .wea-detail .angle-rb { _bottom: -1px; }

.week li { float: left; border: solid #ebf3ff; border-width: 0px 1px 0px 0px; line-height: 18px; position: relative; text-align: center; font-size: 12px; color: #666666; }
.week li p { height: 27px; line-height: 28px; border: solid #ebf3ff; border-width: 1px 0; background-color: #f8fbff; }
.week li p .green { color: #390; }
.week li p .red { color: #df3800; }
.week li span, .week li b, .week li i { display: block; }
.week li b, .week li i { width: 100%; }
.week li i .blue { color: #39c; }
.week li i .red { color: #e03800; }
.week li b { height: 18px; overflow: hidden; }
.week li .jintian { font-weight: bold; }
.week li .gray { color: #666666; }
.week li .week-ri { display: block; width: 48.5%; float: left; }
.week li .week-ye { display: block; width: 48.5%; float: right; }
.week li .week-ri-one { margin: 4px auto 8px; width: 100%; }
.week li .week-ri, .week li .week-ye, .week li .week-ri-one { text-align: center; }
.week li .week-ri span, .week li .week-ye span, .week li .week-ri-one span { margin: 0 auto; }
.week li.lastd { border-right: none; }

.week_day7 li { width: 142px; height: 168px; }
.week_day7 li .layer { display: none; }
.week_day7 li.lastd { width: 142px; }
.week_day7 li.week-detail-now { cursor: pointer; zoom: 1; }
.week_day7 li.week-detail-now .layer { width: 137px; height: 162px; border: 3px solid #268dea; text-decoration: none; position: absolute; left: 0px; top: 0; zoom: 1; display: none; }
.week_day7 li.week-detail-now .layer:hover { text-decoration: none; }
.week_day7 li.week-detail-now .layer .now-detail { display: block; width: 100%; height: 24px; line-height: 2.4; background: #268dea; color: white; text-align: center; margin-top: 138px; overflow: hidden; cursor: pointer; }
.week_day7 li.week-detail-now:hover .layer, .week_day7 li.week-detail-now.hover .layer { display: block; _background-image: url(about:blank); }

.clearfix { zoom: 1; }
.clearfix:before { content: ""; display: table; }
.clearfix:after { content: ""; display: table; clear: both; }

.week li { float: left; border: solid #ebf3ff; border-width: 0px 1px 0px 0px; line-height: 18px; position: relative; text-align: center; font-size: 12px; color: #666666; }
.week li p { height: 27px; line-height: 28px; border: solid #ebf3ff; border-width: 1px 0; background-color: #f8fbff; }
.week li p .green { color: #390; }
.week li p .red { color: #df3800; }
.week li span, .week li b, .week li i { display: block; }
.week li b, .week li i { width: 100%; }
.week li i .blue { color: #39c; }
.week li i .red { color: #e03800; }
.week li b { height: 18px; overflow: hidden; }
.week li .jintian { font-weight: bold; }
.week li .gray { color: #666666; }
.week li .week-ri { display: block; width: 48.5%; float: left; }
.week li .week-ye { display: block; width: 48.5%; float: right; }
.week li .week-ri-one { margin: 4px auto 8px; width: 100%; }
.week li .week-ri, .week li .week-ye, .week li .week-ri-one { text-align: center; }
.week li .week-ri span, .week li .week-ye span, .week li .week-ri-one span { margin: 0 auto; }
.week li.lastd { border-right: none; }    

ul{list-style: none;}